<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KPMB Mentoring System</title>
    <style>
        body {
            background-color: rgb(0, 255, 132);
        }
        h1{color: blue;}
        img {border: solid 5px rgb(222, 13, 13);
            border-radius: 5px;
            height: 200px;
            width:95%
            }
        p{width: 100px;
            border: solid, 2px, black;
            
            background-color: red;
            padding-top: 10px;
            padding-bottom: 10px;
            
        }
        a{text-decoration: none;color: yellow;}
    </style>
</head>
<body>
    {% load static %}
    <center>
        <img src="{% static "picture/1marakpmb-merah.png" %}" alt="home" />
        <br><br><h1>KPMB MENTORING SYSTEM</h1>
        <br><br><br>
        <p><a href="">ENTER</a></p>
    </center>   

    
    
</body>
</html>